MAIN_ICON            ICON    "icon.ico"
CANVAS_CURSOR        CURSOR  "cursor.cur"

BUTTON_ADD_BRICK     ICON    "buttons/add_brick.ico"
BUTTON_REMOVE_BRICK  ICON    "buttons/remove_brick.ico"
BUTTON_ADD_ROPE      ICON    "buttons/add_rope.ico"
BUTTON_REMOVE_ROPE   ICON    "buttons/remove_rope.ico"
BUTTON_LOCK_BRICK    ICON    "buttons/lock_brick.ico"
BUTTON_UNLOCK_BRICK  ICON    "buttons/unlock_brick.ico"